<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <td scope="col">First Name</td>
            <td scope="col">Last Name</td>
            <td scope="col">Email</td>
            <td scope="col">Salary</td>
            <td scope="col">Meta ?</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees" scope="row">
            <td>{{employee.firstName}}</td>
            <td>{{employee.lastName}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.salary | currency:'USD'}}</td>
            <td><div *ngIf="employee.salary > 1000 ;else elseSection">Yes</div>
                <ng-template #elseSection>No</ng-template>
            </td>
        </tr>
    </tbody>
</table>